/*
 * SPDX-FileCopyrightText: 2025 Matvey Vyalkov
 *
 * SPDX-License-Identifier: WTFPL
 */

html {
  font: 100%/1.62 sans-serif;
}
body {
  max-width: 60em;
  padding: 0.62em;
  margin: 0 auto;
  hyphens: auto;
}
h1 {
  font-size: large;
  text-align: center;
  line-height: 1.2;
}
main > section {
  display: grid;
  justify-items: center;
  gap: 0.5em;
}
main > section.groups {
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
}
main > section.teachers {
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}
main > section > a {
  border: 2px solid black;
  text-align: center;
  align-content: center;
  height: 4em;
  width: 100%;
}
main > section.groups > a {
  max-width: 6.472em;
}
main > section.teachers > a {
  max-width: 12.944em;
}
footer {
  text-align: center;
}
span.line {
  display: inline-block;
}
@media screen {
  @media not (prefers-contrast: more) {
    html {
      background-color: #fafafa;
      color: #212121;
    }
  }
  @media (max-width: 600px) {
    html {
      font-size: 90%;
    }
  }
}
