{#
SPDX-FileCopyrightText: 2025 Matvey Vyalkov

SPDX-License-Identifier: WTFPL
#}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content="https://altlinux.space/acme-corp/iat-timetable" />
  <link rel="stylesheet" href="styles.css" />
  <script data-goatcounter="https://acme-corp.metrics.sysrq.in/count"
          async src="//acme-corp.metrics.sysrq.in/count.js"></script>
  <title>Расписание Ирбитского аграрного техникума</title>
</head>
<body>
  <header>
    <h1>Расписание Ирбитского аграрного техникума</h1>
  </header>
  <main>
    <p>Выберите группу:</p>
    <nav>
      {% for group in groups %}
      <a class="group" href="{{ group }}/">{{ group }}</a>
      {% endfor %}
    </nav>
    <p>Данные получены <em>{{ updated_at }}.</em></p>
  </main>
  <footer>
    <hr>
    <p>
      <small>
        Данный сервис предоставляется «как есть» без гарантий.
        <br>
        <span class="line">
          <a href="https://altlinux.space/acme-corp/iat-timetable">Исходный код</a>
        </span>
        |
        <span class="line">
          <a href="https://altlinux.space/acme-corp/iat-timetable/issues">Сообщить об ошибке</a>
        </span>
      </small>
    </p>
  </footer>
  <noscript>
    <img role="presentation" src="https://acme-corp.metrics.sysrq.in/count?p=/iat-timetable">
  </noscript>
</body>
</html>
