{#
SPDX-FileCopyrightText: 2025 Matvey Vyalkov

SPDX-License-Identifier: WTFPL
#}

{% extends base_template %}
{% block head_extra %}
  <script data-goatcounter="https://acme-corp.metrics.sysrq.in/count"
          async src="//acme-corp.metrics.sysrq.in/count.js"></script>
{% endblock %}
